{% extends "ObjectsAdminBundle:General:base_admin.html.twig" %}
{% block body %}
    <h1>Add Custem User Vacation :</h1>
    <hr>
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function selectAll(checkSelect) {
            var selectMenu = document.getElementById("form_employees");
            var selectMenuSize = selectMenu.options.length;

            if(checkSelect.checked) {
                for(var i=0 ; i<selectMenuSize ; i++) {
                    selectMenu.options[i].selected = true;
                }
            }
            else {
                for(var i=0 ; i<selectMenuSize ; i++) {
                    selectMenu.options[i].selected = false;
                }
            }
        }

        function checkSelectAll(selectMenu) {
            var checkedAll = true;
            var selectMenuSize = selectMenu.options.length;
            var checkSelect = document.getElementById("form_Selectall");

            for(var i=0 ; i<selectMenuSize ; i++) {
                if(!selectMenu.options[i].selected) {
                    checkSelect.checked = false;
                    checkedAll = false;
                    break;
                }
            }

            if(checkedAll) {
                checkSelect.checked = true;
            }
        }
    </script>
{% endblock %}